[submodule "kernel_tuner"]
	path = kernel_tuner
	url = https://github.com/benvanwerkhoven/kernel_tuner
[submodule "kernel_tuner_tutorial"]
	path = kernel_tuner_tutorial
	url = https://github.com/KernelTuner/kernel_tuner_tutorial
[submodule "BAT"]
	path = BAT
	url = https://github.com/NTNU-HPC-Lab/BAT.git
[submodule "autotuning_methodology"]
	path = autotuning_methodology
	url = https://github.com/fjwillemsen/autotuning_methodology.git
[submodule "kernel_tuner_paper"]
	path = kernel_tuner_paper
	url = https://github.com/fjwillemsen/kernel_tuner_paper
[submodule "dashboard"]
	path = dashboard
	url = git@github.com:KernelTuner/dashboard.git
